## Useful Regex Examples to Validate Data in Pandas

## Sections

- [Identify files via file extensions](#Identify-files-via-file-extensions)
- [Username validation](#Username-validation)
- [Checking for valid email addresses](#Checking-for-valid-email-addresses)
- [Check for a valid URL](#Check-for-a-valid-URL)
- [Validating numbers](#Validating-numbers)
- [Validating dates](#Validating-dates)
- [Check Valid Time Format](#Check-Valid-Time-Format)
- [Validating HTML tags](#Validating-HTML-tags)
- [Validating MAC addresses](#Validating-MAC-addresses)
- [Other resources](https://github.com/MarkCruse/regex-pandas/blob/master/regex_sources.md)

<br>
<br>

### Import Needed Libraries

In [1]:
import pandas as pd
from pathlib import Path

import warnings
warnings.filterwarnings("ignore")

### Read mock data into dataframe

In [2]:
filePath = Path("data")
file_in = filePath.joinpath('mucked_mock_data.csv')
df = pd.read_csv(file_in,usecols=['id','file_name','email','url','numbers','date','time12','time24','html','mac'],dtype={'id':'string'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1000 non-null   string
 1   email      1000 non-null   object
 2   date       1000 non-null   object
 3   mac        1000 non-null   object
 4   file_name  1000 non-null   object
 5   url        1000 non-null   object
 6   time12     1000 non-null   object
 7   time24     1000 non-null   object
 8   numbers    1000 non-null   object
 9   html       1000 non-null   object
dtypes: object(9), string(1)
memory usage: 78.2+ KB

## Identify files via file extensions

[[back to top](#Sections)]

A regular expression to check for file extensions.  

Note: This approach is not recommended for thorough limitation of file types (parse the file header instead). However, this regex is still a useful alternative to e.g., a Python's `endswith` approach for quick pre-filtering for certain files of interest.

In [3]:
pattern = r'(?i)(\w+)\.(jpeg|jpg|png|gif|tif|svg|ppt)$'

# remove `(?i)` to make regexpr case-sensitive

df['file_name'].astype(str).str.contains(pattern,regex=True).value_counts()

False    726
True     274
Name: file_name, dtype: int64

## Username validation

[[back to top](#Sections)]

Checking for a valid user name that has a certain minimum and maximum length.

Allowed characters:
- letters (upper- and lower-case)
- numbers
- dashes
- underscores

In [4]:
min_len = 4 # minimum length for a valid username
max_len = 6 # maximum length for a valid username

pattern = r"^[A-Z0-9_-]{%s,%s}$" %(min_len, max_len)

# add `(?i)` and change `A-Z` to `a-z` to allow lower-case letters

print (df['id'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nInvalid IDs:')
df[['id']][~df['id'].astype(str).str.contains(pattern,regex=True)]

True     811
False    189
Name: id, dtype: int64

Invalid IDs:

         id
1    JMU2^^
5    BJE27^
9    KBE2^6
19   PLE22^
23   RJE20^
..      ...
981  ERO2^5
988  PBA27^
995  MRO21^
996  MDU2^1
998  KSK2^6

[189 rows x 1 columns]

<br>
<br>

## Checking for valid email addresses

[[back to top](#Sections)]

A regular expression that captures most email addresses.

In [5]:
pattern = r"(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"
print (df['email'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nInvalid email addresses:')
df[['id','email']][~df['email'].astype(str).str.contains(pattern,regex=True)]

True     904
False     96
Name: email, dtype: int64

Invalid email addresses:

         id                           email
2    SSH279    ssherbrooke2@list-manage_com
4    ZFA290        zfabri4@biblegateway_com
10   KTI286   ktitterella@sciencedirect_com
15   LDE229     ldeglanvillef@reference_com
17   LMA248        lmacandrewh@japanpost_jp
..      ...                             ...
915  PSC264  pschankepf@constantcontact_com
928  GPA2^4         gpaulips@deviantart_com
943  SSE2^6         ssellorq7@parallels_com
982  EWE255            eweldra@facebook_com
984  SOT251            sotimonyrc@salon_com

[96 rows x 2 columns]

<font size="1px">source: [http://stackoverflow.com/questions/201323/using-a-regular-expression-to-validate-an-email-address](http://stackoverflow.com/questions/201323/using-a-regular-expression-to-validate-an-email-address)</font>

<br>
<br>

## Check for a valid URL

[[back to top](#Sections)]

Checks for an URL if a string ...

- starts with `https://`, or `http://`, or `www.`
- or ends with a dot extension

In [6]:
pattern = '^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$'
print (df['url'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nInvalid URL addresses:')
df[['id','url']][~df['url'].astype(str).str.contains(pattern,regex=True)]

True     905
False     95
Name: url, dtype: int64

Invalid URL addresses:

         id                      url
3    RBO218           http://umn_edu
19   PLE22^        wwss://rambler.ru
25   MKA246      wwss://symantec.com
26   RDE242       wwss://dropbox.com
31   BGA222  https://squarespace_com
..      ...                      ...
951  OSK202        https://phpbb_com
952  MAL207         https://phoca_cz
962  HSA226         wws://cdbaby.com
971  JCA269             wws://si.edu
990  TPO207        wwss://weebly.com

[95 rows x 2 columns]

<font size="1px">source: [http://code.tutsplus.com/tutorials/8-regular-expressions-you-should-know--net-6149](http://code.tutsplus.com/tutorials/8-regular-expressions-you-should-know--net-6149)</font>

<br>
<br>

## Validating numbers

[[back to top](#Sections)]

### Positive integers

In [7]:
pattern = '^\d+$'

print (df['numbers'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nNOT Positive integers:')
df[['id','numbers']][~df['numbers'].astype(str).str.contains(pattern,regex=True)]

False    588
True     412
Name: numbers, dtype: int64

NOT Positive integers:

         id  numbers
2    SSH279     -977
7    AIM266     -348
8    MVA286   202.32
9    KBE2^6   784.98
10   KTI286     -436
..      ...      ...
992  EPE264     -348
994  FSA218  -745.20
995  MRO21^     -129
996  MDU2^1      fnm
999  PBA290    52.57

[588 rows x 2 columns]

### Negative integers

In [8]:
pattern = '^-\d+$'

print (df['numbers'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nNOT Negative integers:')
df[['id','numbers']][~df['numbers'].astype(str).str.contains(pattern,regex=True)]

False    595
True     405
Name: numbers, dtype: int64

NOT Negative integers:

         id  numbers
0    CCH204      559
1    JMU2^^      570
3    RBO218      685
4    ZFA290      919
5    BJE27^      827
..      ...      ...
994  FSA218  -745.20
996  MDU2^1      fnm
997  MTH287      898
998  KSK2^6      208
999  PBA290    52.57

[595 rows x 2 columns]

### All integers

In [9]:
pattern = '^-{0,1}\d+$'

print (df['numbers'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nNOT All integers:')
df[['id','numbers']][~df['numbers'].astype(str).str.contains(pattern,regex=True)]

True     817
False    183
Name: numbers, dtype: int64

NOT All integers:

         id  numbers
8    MVA286   202.32
9    KBE2^6   784.98
16   KTR262      swx
17   LMA248   300.13
22   SJE228   yhl.77
..      ...      ...
984  SOT251  -640.69
990  TPO207   128.83
994  FSA218  -745.20
996  MDU2^1      fnm
999  PBA290    52.57

[183 rows x 2 columns]

### Positive numbers

In [10]:
pattern = '^\d*\.{0,1}\d+$'

print (df['numbers'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nNOT Positive numbers:')
df[['id','numbers']][~df['numbers'].astype(str).str.contains(pattern,regex=True)]

False    549
True     451
Name: numbers, dtype: int64

NOT Positive numbers:

         id  numbers
2    SSH279     -977
7    AIM266     -348
10   KTI286     -436
11   PCR216     -718
12   BSY254     -645
..      ...      ...
991  PMU217     -144
992  EPE264     -348
994  FSA218  -745.20
995  MRO21^     -129
996  MDU2^1      fnm

[549 rows x 2 columns]

### Negative numbers

In [11]:
pattern = '^-\d*\.{0,1}\d+$'

print (df['numbers'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nNOT Negative numbers:')
df[['id','numbers']][~df['numbers'].astype(str).str.contains(pattern,regex=True)]

False    549
True     451
Name: numbers, dtype: int64

NOT Negative numbers:

         id numbers
0    CCH204     559
1    JMU2^^     570
3    RBO218     685
4    ZFA290     919
5    BJE27^     827
..      ...     ...
993  CLE240     792
996  MDU2^1     fnm
997  MTH287     898
998  KSK2^6     208
999  PBA290   52.57

[549 rows x 2 columns]

### All numbers

In [12]:
pattern = '^-{0,1}\d*\.{0,1}\d+$'

print (df['numbers'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nNOT All numbers:')
df[['id','numbers']][~df['numbers'].astype(str).str.contains(pattern,regex=True)]

True     902
False     98
Name: numbers, dtype: int64

NOT All numbers:

         id     numbers
16   KTR262         swx
22   SJE228      yhl.77
25   MKA246         qqx
39   MFA20^         zvb
40   KLI228         gju
..      ...         ...
970  HCH280         amm
973  CWR222         wat
974  TFA240         ggu
980  LSC201  -422.66.39
996  MDU2^1         fnm

[98 rows x 2 columns]

<font size="1px">source: [http://stackoverflow.com/questions/1449817/what-are-some-of-the-most-useful-regular-expressions-for-programmers](http://stackoverflow.com/questions/1449817/what-are-some-of-the-most-useful-regular-expressions-for-programmers)</font>

<br>
<br>

## Validating dates

[[back to top](#Sections)]

Validates dates in `mm/dd/yyyy` format.

In [13]:
pattern = '^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$'

print (df['date'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nInvalid Dates:')
df[['id','date']][~df['date'].astype(str).str.contains(pattern,regex=True)]

True     818
False    182
Name: date, dtype: int64

Invalid Dates:

         id        date
0    CCH204  06/07/8020
12   BSY254  23/08/2019
27   OSA279  10/18/8019
31   BGA222  13/23/2020
48   RHA26^  10/36/2019
..      ...         ...
982  EWE255  16/06/2020
985  IJE250  08/58/2019
986  NFO205  16/24/2020
989  ISH204  17/31/2020
997  MTH287  24/07/2019

[182 rows x 2 columns]

### Check Valid Time Format

[[back to top](#Sections)]

### 12-Hour format

In [14]:
pattern = r'^(1[012]|[1-9]):[0-5][0-9](\s)?(?i)(am|pm)$'

print (df['time12'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nInvalid 12 Time:')
df[['id','time12']][~df['time12'].astype(str).str.contains(pattern,regex=True)]

True     816
False    184
Name: time12, dtype: int64

Invalid 12 Time:

         id    time12
4    ZFA290  13:70 PM
9    KBE2^6  19:70 PM
15   LDE229  14:10 PM
21   MFU219  18:10 PM
36   DFA252  23:10 PM
..      ...       ...
964  GBE24^   4:70 PM
976  HLA206  11:70 PM
988  PBA27^  35:10 PM
992  EPE264  22:10 PM
994  FSA218   5:70 PM

[184 rows x 2 columns]

### 24-Hour format

In [15]:
pattern = r'^([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}$'

print (df['time24'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nInvalid 24 Time:')
df[['id','time24']][~df['time24'].astype(str).str.contains(pattern,regex=True)]

True     604
False    396
Name: time24, dtype: int64

Invalid 24 Time:

         id time24
1    JMU2^^   3:40
2    SSH279   9:51
3    RBO218   4:27
4    ZFA290   1:10
5    BJE27^   0:02
..      ...    ...
993  CLE240   6:07
994  FSA218   3:28
996  MDU2^1   3:01
997  MTH287   1:39
998  KSK2^6   8:07

[396 rows x 2 columns]

<br>
<br>

## Validating HTML tags

[[back to top](#Sections)]

Also this regex is only recommended for "filtering" purposes and not a ultimate way to parse HTML. For more information see this excellent discussion on StackOverflow:  
[http://stackoverflow.com/questions/1732348/regex-match-open-tags-except-xhtml-self-contained-tags/](http://stackoverflow.com/questions/1732348/regex-match-open-tags-except-xhtml-self-contained-tags/)

In [16]:
pattern = r"""</?\w+((\s+\w+(\s*=\s*(?:".*?"|'.*?'|[^'">\s]+))?)+\s*|\s*)/?>"""

print (df['html'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nInvalid HTML:')
df[['id','html']][~df['html'].astype(str).str.contains(pattern,regex=True)]

True     667
False    333
Name: html, dtype: int64

Invalid HTML:

         id        html
2    SSH279  <op^group>
3    RBO218     <^body>
6    KSL286     </^ime>
8    MVA286     <inpu^>
9    KBE2^6        <^d>
..      ...         ...
988  PBA27^       </^r>
991  PMU217  <fieldse^>
993  CLE240      </r^c>
995  MRO21^      <da^a>
997  MTH287    </^i^le>

[333 rows x 2 columns]

<font size="1px">source: [http://haacked.com/archive/2004/10/25/usingregularexpressionstomatchhtml.aspx/](http://haacked.com/archive/2004/10/25/usingregularexpressionstomatchhtml.aspx/)</font>

<br>
<br>

## Validating MAC addresses

[[back to top](#Sections)]

In [17]:
pattern = r'^(?i)([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$'

print (df['mac'].astype(str).str.contains(pattern,regex=True).value_counts())
print ('\nInvalid MAC Address:')
df[['id','mac']][~df['mac'].astype(str).str.contains(pattern,regex=True)]

True     977
False     23
Name: mac, dtype: int64

Invalid MAC Address:

         id                mac
71   BFL271  xx:AB:57:ED:9C:90
152  LME284  7C:2F:40:57:E3:xx
235  ADU275  D5:xx:D1:E1:2B:2B
305  JST206  E2:EF:0B:xx:14:29
308  ALY250  xx:53:48:16:D4:F3
331  ACR252  D2:xx:35:EA:EC:75
336  PGI272  1B:54:6C:A3:28:xx
417  RWA220  4F:C6:4F:D0:81:xx
464  BDU262  AE:xx:A2:46:97:E6
477  WHE221  26:E4:7B:C8:46:xx
533  FCH278  55:63:xx:4A:A5:7C
554  SDE264  xx:BD:2F:3D:A8:CD
593  APA2^^  60:F2:ED:AB:E2:xx
648  NAD220  42:7D:53:73:7C:xx
696  LAY216  7F:93:0F:00:xx:E1
818  MTH251  2C:E7:B9:xx:EB:5C
895  KFE207  xx:A9:85:BD:0F:40
900  SME264  17:B4:xx:6B:D5:89
921  RSH287  94:6D:1F:AD:02:xx
927  FHA206  2D:D4:xx:65:81:E1
938  NJO209  98:D9:xx:AE:E9:D6
978  CMA274  E4:xx:BC:E1:23:71
984  SOT251  80:A5:9D:2F:E0:xx